<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="_workpackagesSearchString"
                       debounce="0"
                       [placeholder]="_context === _contextEnum.BOOKING_WORKPACKAGE_SELECTION ?
                       'Select Workpackage for Booking' : 'Search for Workpackage'">
        </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list class="slide-in">
        <ion-card *ngFor="let workpackage of _workpackages
                          | filterListByString: _workpackagesSearchString: ['stringId', 'name']"
                  (click)="selectWorkpackage(workpackage)">
            <ion-card-header>
                {{ workpackage.stringId }} - {{ workpackage.name }}
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>
