<ion-header>
  <ion-navbar>
    <ion-title>{{ _workpackage.stringId }} - {{ _workpackage.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button accent floating block full *ngIf="_hideLiveBookingButton" (click)="_createBookingSession()" >
    <ion-icon name="ios-stopwatch-outline"></ion-icon>{{ _translations.BOOKING_CREATE_LIVEBOOKING | translate }}
  </button>
  <ion-label *ngIf="_bookingSession" align="center">
    <h4>{{ _translations.BOOKING_CREATE_LIVEBOOKING_CHECKOUT | translate }}</h4>
  </ion-label>
  <form [formGroup]="_authForm" (ngSubmit)="_onSubmit(authForm)">
    <ion-list>
    <ion-item class="item">
      <ion-label>{{ _translations.DATE | translate }}</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY"
                    pickerFormat="DD MM YYYY"
                    max="{{_maxDate}}"
                    [(ngModel)]="_date"
                    [ngModelOptions]="{standalone: true}"
                    [formControl]="_dateControl"
                    required>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ _translations.EFFORT | translate }}</ion-label>
      <ion-datetime displayFormat="HH:mm"
                    pickerFormat="HH mm"
                    [(ngModel)]="_effort"
                    [ngModelOptions]="{standalone: true}"
                    [formControl]="_effortControl"
                    (ionChange)="_refreshEtc()"
                    required>
      </ion-datetime>
    </ion-item>
    <ion-item class="item">
      <ion-label floating >{{ _translations.DESCRIPTION | translate }}</ion-label>
      <ion-textarea type="text" [formControl]="_descriptionControl" rows="3" required></ion-textarea>
    </ion-item>
    <ion-item class="item">
      <ion-label color="grey">{{ _translations.BOOKING_CREATE_ETC_ACTUAL | translate }}:</ion-label>
      <ion-input value="{{ _workpackage.etc}}" text-right="right" readonly></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label text->{{ _translations.BOOKING_CREATE_ETC_NEW | translate }}:</ion-label>
      <ion-input type="text" [(ngModel)]="_newEtc" [ngModelOptions]="{standalone: true}" text-right="right"></ion-input>
    </ion-item>
    <button floating block full>{{ _translations.BOOKING_CREATE_SEND | translate }}</button>
      </ion-list>
  </form>
</ion-content>

