<ion-header>
  <ion-navbar>
    <ion-title>{{ _workpackage.stringId }} - {{ _workpackage.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button accent floating block full *ngIf="!_bookingSession" (click)="_createBookingSession()" >
    <ion-icon name="ios-stopwatch-outline"></ion-icon>Livebuchung starten
  </button>
  <ion-label *ngIf="_bookingSession" align="center">
    <h4>Checkout Session</h4>
  </ion-label>
  <form [ngFormModel]="_authForm" (ngSubmit)="_onSubmit(authForm)">
    <ion-item>
      <ion-label>Datum</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY"
                    pickerFormat="DD MM YYYY"
                    max="{{_maxDate}}"
                    [(ngModel)]="_date"
                    [ngFormControl]="_dateControl"
                    required>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Aufwand</ion-label>
      <ion-datetime displayFormat="HH:mm"
                    pickerFormat="HH mm"
                    [(ngModel)]="_effort"
                    [ngFormControl]="_effortControl"
                    (ionChange)="_refreshEtc()"
                    required>
      </ion-datetime>
    </ion-item>
    <ion-item class="item">
      <ion-label floating >Beschreibung</ion-label>
      <ion-textarea type="text" [ngFormControl]="_descriptionControl" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>ETC-aktuell:</ion-label>
      <ion-label>{{ _workpackage.etc}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ETC-neu:</ion-label>
      <ion-input type="text" [(ngModel)]="_etc" ></ion-input>
    </ion-item>
    <button floating block full>Buchung abschicken</button>
  </form>
</ion-content>
