.logo {
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-size:160px;
  color: white;
  margin: 0px;
}

.content{
  background-color: #009688;
}

.login{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.top{
  height:50%;
  margin: 10px;
}

.bottom{
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.login_button{
  font-weight: bold;
  margin: 0px;
  padding: 25px;
}