
<ion-content class="content">
  <div class="top">
    <ion-grid>
      <ion-row>
        <ion-col width-50 offset-25><img src="assets/img/appicon.png" /></ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100 text-center><span class="login" icons>Login</span></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bottom">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
      <ion-item class="item">
        <ion-label floating [style.color]="serverColor">{{ _translations.SERVER_ADDRESS | translate }}</ion-label>
        <ion-input type="text" [formControl]="serverAddress" required></ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label floating [style.color]="usernameColor">{{ _translations.USER | translate }}</ion-label>
        <ion-input type="text" [formControl]="username" required></ion-input>
      </ion-item>
      <ion-item class="item">
        <ion-label floating [style.color]="passwordColor">{{ _translations.PASSWORD | translate }}</ion-label>
        <ion-input type="password" [formControl]="password" required></ion-input>
      </ion-item>
      <button class="login_button" accent floating block full>LOGIN</button>
    </form>
  </div>
</ion-content>