.content{
  background-color: #009688;
}

.login{
  font-size: 8vh;
  font-weight: bold;
}

.login p{
  margin: 0em;
}

.top{
  padding: 0em 0em 2em 0em;
  height: 50%;
}

.bottom{
  width: 100%;
}

.login_button{
  font-weight: bold;
  margin: 0em;
}

ion-item{
}