.button-fab {
  z-index: 100;
  background-color: color($colors, accent);
}

#hint{
  font-size: large;
}

#datetime{
  opacity: 0;
  height: 4pt;
  width: 10pt;
  float: left;
}

#calicon{
  padding: 2px;
  font-size: 30px;
  margin: 1px;
  margin-right: 10px;
}

#calicon::before {
  font-size: 40px;
  float: right;
  color: white;
  margin: 2px;
}

#ionButtons{
  height: 50px;
  width: 90px;
}