
<script src="../../workpackages/detail/workpackage-detail.component.ts"></script>
<ion-header>
  <ion-navbar>


    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title >{{_pickedDateString}}</ion-title>

    <ion-buttons end id="ionButtons">
      <div>
        <ion-datetime (ionChange)="dateChanged()" id="datetime" displayFormat="MMM DD, YYYY" [(ngModel)]="pickedDate"></ion-datetime>

        <ion-icon item-right name="calendar" id="calicon"></ion-icon>


      </div>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list class="slide-in">
    <booking *ngFor="let booking of _bookings" [booking]="booking" [withWpName]="true" (click)="bookingCardClicked(booking)"></booking>
  </ion-list>

  <ion-label padding id="hint">{{hintMsg}}</ion-label>





</ion-content>
<button fab fab-bottom fab-right (click)="add()" calm>
  <ion-icon name="add"></ion-icon>
</button>

