

#lab, #container{
  background-color: rosybrown;
  color: #277244;
  font-size: large;
  opacity: 0.3;

}



#container{
  background-color: #2ec95c;
  z-index: 75;
  height: auto;
  width: auto;
}
