

#lab{
  margin: 0px;
  margin-left: 2px;
  font-style: italic;
  background-color: white;
  font-size: medium;
  border: none;
  color: #2e74eb;
  opacity: 0.7;



}

input[type="text"]{

  font-style: italic;
  font-size: medium;
  margin: 0px;
  margin-left: 2px;
  line-break: normal;
  max-lines: 4;
 // height: 30px;


}

input[type="text"][disabled] {
  color: #2d2d2d;
  font-style: normal;
  opacity: 1.0;
  margin: 0px;
  margin-left: 3px;

}


#container{
  padding: 0px;
  z-index: 75;

  width: auto;
}
