<ion-menu [content]="content">
  <ion-toolbar primary>
    <ion-title>WBS Timetracker</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>

      <div>
        <ion-item class="item-stable"
                  (click)="toggleProjects()"
                  ng-class="{active: isProjectsShown()}">

          <ion-icon *ngIf="!areProjectsShown()" name="arrow-dropright-circle"></ion-icon>
          <ion-icon *ngIf="areProjectsShown()" name="arrow-dropup-circle"></ion-icon>
          Projekte
        </ion-item>
        <div *ngIf="areProjectsShown()">
          <ion-item style="background-color: lightgray" *ngFor="let project of projects"
                    (click)="selectProject(project)">
            {{project.db}}
            <ion-icon *ngIf="_sessionService.selectedProject != null && _sessionService.selectedProject.db == project.db" name="checkmark"></ion-icon>
          </ion-item>
        </div>
      </div>
      <button ion-item *ngFor="let page of pages" (click)="openPage(page.component)">
        {{page.title}}
      </button>
      <button ion-item (click)="_authService.logout()">
        Logout
      </button>

    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #content swipe-back-enabled="false"></ion-nav>
