.project-name {
  margin-left: 25px;
}

.project-selection-header {
  margin-left: 5px;
}

.project-selection-icon {
  transition: .1s linear;
}

.project-selection-icon-unfold {
  transform: rotate(90deg);
}

.selected-project {
  color: white;
  background-color: map-get($colors, primary);
}
