#label_checkout{
  font-size: larger;
  float: left;
}
#checkout_button{
  background-color: white;
  color:darkgrey;
  font-size: larger;
  padding: 8px;
  width: 100%;

}

#closeicon{
  margin: 1px;
  margin-right: 0px;
  color: color($colors, accent);
  opacity: 0.7;
}

#checkoutDiv{
  background-color: white;
}

span{
  padding: 5px;
  font-size: medium;
}

ion-label{
  font-size: medium;
}