<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row *ngIf="withWpName">
        <ion-col width-100>
                <span style="font-size: medium;opacity: 0.5;">
                   {{"   " + (isLive ? bookingSession.workpackage.stringId : booking.workpackage.stringId)}}
                </span>
          <span margin-right="5%" style="font-size: medium">
                  {{(isLive ? bookingSession.workpackage.name : booking.workpackage.name)}}
                </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col width-23>
                   <!-- <edit-label *ngIf="!isLive" [booking]="booking" [isTimeLabel]="true" [_text]="(booking.effort | workdaysToHours) + ' h'">
                    </edit-label>
                   --><span *ngIf="!isLive">
                    <ion-datetime displayFormat="HH : mm" pickerFormat="HH : mm" [(ngModel)]="pickedEffort"></ion-datetime>
                    </span>

                    <span *ngIf="isLive" style="color: #327eff">LIVE</span>

                </ion-col>
                <ion-col width-80 *ngIf="isLive">
<!---
                  <span style="margin-right: 5%; opacity: 0.6">
                    start: {{timeStampToTime(bookingSession.startTime)}}
                  </span>
--->
                  <span style="color: #327eff">
                    <ion-icon name="clock"></ion-icon><span>{{" "}}</span>
                    {{"  "+timeStampToDuration(bookingSession.startTime)}}
                  </span>

                </ion-col>
                <ion-col width-80 *ngIf="!isLive">
                  <edit-label [booking]="booking"  [_text]="booking.description">
                  </edit-label>
                </ion-col>

            </ion-row>

        </ion-grid>
        <div id="checkoutDiv" *ngIf="isLive">
          <hr style="border: 5px; stroke: 12; color: darkgrey;">
          <button width-100 id="checkout_button" (click)="checkout_livebooking()">
                 <ion-icon round id="closeicon" name="log-out"></ion-icon>
            <ion-label style="margin: 2px">AUSCHECKEN</ion-label>
          </button>
        </div>

    </ion-card-content>
</ion-card>