<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-row" *ngIf="withWpName">
         <ion-col width-20 class="wpStringIdCol">
           {{(isLive ? bookingSession.workpackage.stringId : booking.workpackage.stringId)}}
         </ion-col>
         <ion-col width-70>
           {{(isLive ? bookingSession.workpackage.name : booking.workpackage.name)}}
         </ion-col>
         <ion-col *ngIf="!isLive" width-10>
           <ion-button class="delButton" (click)="_deleteSelf()">
             <ion-icon class="delIcon" name="close" ></ion-icon>
           </ion-button>
         </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-20>
          <ion-buttons item-left class="effortPick" *ngIf="!isLive">
            <div>
              <ion-datetime doneText="Change Effort" (ionChange)="_changedEffortLabel()" class="tp" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="_pickedEffort"></ion-datetime>
              <ion-label id="timelab">{{booking.effort | workdaysToHours}}</ion-label>
            </div>
          </ion-buttons>
          <span *ngIf="isLive" class="liveIndicatorLabel">LIVE</span>
        </ion-col>
        <ion-col width-80 *ngIf="isLive">
          <span class="liveDuration">
            <ion-icon name="clock"></ion-icon><span>{{" "}}</span>
              {{ _liveBookingRuntime }}
          </span>
        </ion-col>
        <ion-col width-80 *ngIf="!isLive">
          <edit-label (onSave)="_updateBooking($event)" [value]="booking.description">
          </edit-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="checkoutDiv" *ngIf="isLive">
      <!--<hr style="border: 5px; color: darkgrey;">-->
      <button width-100 class="checkoutButton" (click)="_checkoutLivebooking()">
        <ion-icon round id="closeicon" name="log-out"></ion-icon>
        <ion-label id="checkoutButtonLabel">AUSCHECKEN</ion-label>
      </button>
    </div>
  </ion-card-content>
</ion-card>