#label_checkout{
  font-size: larger;
  float: left;
}
#checkout_button{
  background-color: white;
  color:darkgrey;
  font-size: larger;
  padding: 8px;
  width: 100%;

}

#tp{
  opacity: 0.25;
  height: 2pt;
  margin: 0px;
  padding: 0px;
  width: 2pt;
  float: left;
  background-color: #2ec95c;
}
#timelab{
  padding: 2px;
  font-size: medium;
  margin: 1px;
  margin-right: 10px;

}


#closeicon{
  margin: 1px;
  margin-right: 0px;
  color: color($colors, accent);
  opacity: 0.7;
  float:right;
}

#checkoutDiv{
  background-color: white;
}

span{
  padding: 5px;
  font-size: medium;
}

ion-label{
  font-size: medium;
}